

    h1{
        color: #35701d;
        font-size: 50px;
        font-weight: bold;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    }

    .capa{
        width: 100%; 
        height: 850px;      
      
       
    }

    .foto{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .texto{
        text-align: center;
        margin-top: 20px;
    }

   
    

        .quadro{
        text-align: center;
        font-size: 26px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        margin: 40px auto;
        width: 80%;
        padding: 30px;
        }

    body{
        background-color: rgb(141, 206, 76);
        font-family: Arial, sans-serif;
        margin: 0;
    }

    .video{
        text-align: center;
        margin: 50px 0;
    }

    h2{
        color: #0b3300;
        font-size: 50px;
        margin-bottom: 25px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    h3{
        color: #0b3300;
        font-size: 31px;
        text-align: left;
        margin: 15px 10%;
        line-height: 1.6;
    }

    strong{
        color: #144d00;
    }

    .final{
        text-align: center;
        font-size: 32px;
        color: #0b3300;
        margin: 60px 20px;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        padding: 25px;
    }

    .lista{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15;

    }

    .lista2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}
.lista2 a {
    text-decoration: none;
    color: #0b3300;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 12px 24px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.lista2 a:hover {
    background-color: #35701d;
    color: #ffffff;
    transform: scale(1.08);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

    .teste{
         color: #0b3300;
        font-size: 30px;
        text-align: left;
        margin: 15px 10%;
        line-height: 1.6;


    }
    .test4{
  color: #0b3300;
        font-size: 30px;
        margin-bottom: 25px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        background: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        padding: 25px;
        text-align: center;
        margin: 40px auto;
        width: 80%;
        padding: 30px;
        


    }
    .botao-seguir {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.btn {
    background-color: #35701d; 
    color: white;
    padding: 15px 35px;
    border: 2px solid #2b5c18;
    border-radius: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}






